body {
	color: #000;
	background-color: #FFF;
}

input.invalid {
	background-color: #FF9;
	border: 2px red inset;
}

label.invalid {
	color: #F00;
	font-weight: bold;
}

select {
	margin-left: 80px;
}

input {
	margin-left: 30px;
}

input+select, input+input {
	margin-left: 20px;
}

.centered {
	text-align: center;
}
